<div class="card col-10 col-sm-8 col-md-6 col-xl-4 offset-1 offset-sm-2 offset-md-3 offset-xl-4 my-5">
  <div class="card border-warning">
    <div class="card-header">
      <h2 class="d-flex justify-content-center">Log in</h2>
      <h5 class="d-flex justify-content-center">Log in to Barcelona City Records</h5>
    </div>
    <div class="card-body">
      <form [formGroup]="loginForm" (ngSubmit)="login()" class="card-text">
        <div class="col-8 offset-2">
          <label for="email" class="form-label">Email</label>
          <input type="email" id="email" formControlName="email" class="form-control" required>
          <div *ngIf="emailControl?.invalid && (emailControl?.dirty || emailControl?.touched)" class="text-danger">
            <div *ngIf="emailControl?.errors?.['required']">Email is required.</div>
            <div *ngIf="emailControl?.errors?.['email']">Enter a valid email.</div>
          </div>
        </div>
        <div class="col-8 offset-2">
          <label for="password" class="form-label mt-2">Password</label>
          <input type="password" id="password" formControlName="password" class="form-control" required>
          <div *ngIf="passwordControl?.invalid && (passwordControl?.dirty || passwordControl?.touched)" class="text-danger">
            <div *ngIf="passwordControl?.errors?.['required']">Password is required.</div>
            <div *ngIf="passwordControl?.errors?.['minlength']">Password must be at least 6 characters long.</div>
          </div>
        </div>
        <div class="col-8 offset-2">
        <button type="submit" class="btn btn-warning my-4 text-dark" [disabled]="loginForm.invalid">Login</button>
      </div>
      </form>
      <p class="d-flex justify-content-center"><i class="bi bi-info-circle me-2"></i> Don't have an account? 
        <a href="/register" class="text-warning ms-2">Register here.</a>
      </p>
      <div class="d-flex justify-content-center">
        <button (click)="loginWithGoogle()" class="btn btn-outline-warning my-4 rounded-pill pe-3">
          <i class="bi bi-google me-2"></i> Continue with Google
        </button>
      </div>
    </div>
  </div>
</div>

  
