<div class="container-fluid my-5">
    <div class="container container-fluid">
      <div class="col-10 offset-1">
        <div class="row">
          <div class="container container-fixed">
            <div class="col col-sm-12">
              <div class="module text">
                <h1 class="text-center">Tienda de discos en Barcelona</h1>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="container container-fluid">
            <div class="col col-sm-12">
              <div class="module text">
                <h4 class="text-center mb-5">Conoce nuestra tienda de discos en Barcelona</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="container container-fluid">
            <div class="col align-self-center">
              <div class="col col-sm-12">
                <a href="#" rel="nofollow noopener">
                  <img src="/assets/images/bd20__msi___jpg.webp" alt="Barcelona City Records" class="img-fluid" />
                </a>
              </div>
            </div>
            <div class="col col-sm-12">
              <div>
                <h2 class="mt-5">Quiénes somos</h2>
              </div>
              <div>
                <p>
                  Conoce a los integrantes de Barcelona City Records, nuestra tienda de discos en <a href="/contact">Barcelona.</a>
                  Somos un establecimiento especializado en la <b>compra</b> y en la <b>venta</b> de <b>música</b> y <b>discos de vinilo,</b> cds y, también, cintas de casete.
                </p>
                <p>
                  No estamos exactamente en Sant Pere Més Alt pero sí muy cerca, concretamente en una de las calles perpendiculares a esta, donde empieza el Carrer d'En Mònec. Se trata de una calle estrecha y peatonal, con poca luz pero con mucha vida de barrio y en la que hay varios establecimientos de toda la vida junto a tiendas de nueva creación regentados por nuevos barceloneses que buscan oportunidades a la orilla del Mediterráneo.
                </p>
                <p>
                  Nuestra tienda la creó en noviembre 2019 un equipo de personas que dirige Oriol Aparicio, a.k.a. "Much Bogaloo", quien tiempo atrás regentó Funk & Soul Records, en las Galerías Olimpia, para luego centrarse en su negocio online. Ahora ha abierto un local tienda de discos precioso y enorme.
                </p>
              </div>
            </div>
            <div class="col col-md-12 col-sm-12 col-lg-12">
              <div>
                <p>
                  Nos visitas encontrarás miles de discos bien catalogados y de varios estilos, aunque mayoritariamente prevalecen los géneros de música negra con predilección al latin, el jazz, el soul, funk y disco que es la especialidad de Oriol. Él, además, es uno de los djs residentes del mítico club MarulaClub, cuya pista es el centro neurálgico de estos estilos en la ciudad.
                </p>
                <p>
                  Otra pieza fundamental es Joan, a.k.a. Golfo de Guinea, un polifacético personaje famoso sobre todo en el pueblo donde reside, la Floresta. A parte de muchas otras especialidades Joan es un dj plenamente reconocido y demandado en cualquier evento donde las siglas afro sean protagonistas. Destaca su versatilidad y sapiencia en otros géneros que también domina y es un es entusiasta de la música en general. Su conocimiento profundo de subgéneros de raíz africana y tropical hace que sea uno de los fuertes de Barcelona City Records.
                </p>
                <p>
                  Otra pieza importante del equipo es Raúl, a.k.a Dj Zero, ampliamente conocido en los circuitos de coleccionistas de Barcelona y también a nivel internacional. Es uno de los discjockeys más emblemáticos de la escena de los clubes en Barcelona, con residencias en el Moog y que ha pasado tanto por Nitsa como Razz en múltiples ocasiones. Lleva en activo desde los 90. Actualmente ya no pincha pero sigue vendiendo discos desde su casa. Parte de su stock, el más enfocado a la pista de baile (techno/house/disco), tiene un puesto prefencial en las cubetas de Barcelona City Records.
                </p>
                <p>
                  Iván es la última gran incorporación al equipo. Es programador musical y cofundador de Rocafort Records, un sello independiente especializado en soul / afro / jazz / latin. También es residente durante los últimos años en Marula y, para muchos, es quizá el mayor exponente en una cabina. Los estilos que él domina a la perfección son el soul / funk / disco / brazil / latin, con una técnica tan elegante como sobria y con un gusto exquisito.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="container container-fluid">
            <div class="d-flex justify-content-between align-items-center flex-wrap">
            <div class="col-12 col-lg-6 col-md-12 col-sm-12">
              
                <div>
                  <h2>Valoración de colecciones</h2>
                </div>
                <div>
                  <p>
                    Nosotros valoramos tu colección sea grande o pequeña y te asesoramos de lo que ya no quieres, no te interesa o te genera problemas de espacio.
                  </p>
                  <p>
                    Nosotros sobre todo compramos los siguientes géneros: jazz, soul, funk, blues, R&amp;B, hip hop, salsa, latin, brazil, electrónica, experimental, rock de los 60 y 70, flamenco y rumba, entre otros.
                  </p>
                  <p>
                    Por lo contrario la clásica, la música española folclórica, las orquestas de los 50 y géneros semejantes no los compramos, pero te podemos ayudar a darle la mejor salida.
                  </p>
                </div>
             
            </div>
            <div class="col-12 col-sm-12 col-lg-5 col-md-12">
                <img src="/assets/images/bd4__msi___jpg.webp" alt="Tienda de discos de vinilo" class="img-fluid" />
            </div>
          </div> </div>
        </div>
        <div class="row mt-5">
          <div class="container container-fluid">
            <div class="col col-sm-12">
              <div>
                <h2 class="text-center">Contacto</h2>
              </div>
              <div>
                <h5 class="text-center">
                  Si tienes cualquier duda, consulta o sugerencia puedes ponerte en <span class="font-weight-bold">contacto con nosotros<br></span> por e-mail en <a href="mailto:barcelonacityrecords@gmail.com" data-track-event="click" data-track-action="email_link"><i class="bi bi-envelope-at me-1"></i>barcelonacityrecords&#64;gmail.com</a><br> o por teléfono /
                  <a href="https://api.whatsapp.com/send?phone=34666118347" target="_blank" rel="noopener"><i class="bi bi-whatsapp me-1"></i>WhatsApp</a> en el <a data-global="phone" href="tel:666118347" data-track-event="click" data-track-action="phone_link"> <i class="bi bi-telephone me-1"></i>666 118 347</a>.
                </h5>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="container container-fixed">
            <div class="col col-sm-12">
              <div>
                <p class="text-center">Descubre todo lo que podemos hacer por ti en Barcelona City Records</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  