<div class="container">
  <h1 class="text-center head m-4">Checkout Page</h1>

<!--Checkout table-->
		  <div class="col-12 col-xxl-8 offset-xxl-2">
        <h4 class="">You have {{cartCount}} items in your cart</h4>
        <table *ngIf="cart.length > 0; else emptyCart" class="table table-hover fs-5">
          <thead>
            <tr>
              <th>Name</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of cart">
              <td>{{ product.name }}</td>
              <td>{{ product.price | currency }}</td>

              <td>
                <button (click)="buyProduct(product.id)" class="badge rounded-pill bg-secondary border-0"><i
                    class="bi bi-plus"></i></button>
                {{ product.quantity }}
                <button (click)="removeFromCart(product.id)" class="badge rounded-pill bg-secondary border-0"><i
                    class="bi bi-dash"></i></button>
              </td>

              <td>{{ (product.price * product.quantity * (1 - (product.discountPercent || 0) / 100)) |
                currency }}</td>

            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="3"><b>Total:</b></td>
              <td><b>{{ total | currency }}</b></td>

            </tr>
          </tfoot>
        </table>
        
          <button (click)="cleanCart()" class="btn btn-danger">Clean Cart</button>
        
        <ng-template #emptyCart>
          <p class="mt-4">Your cart is empty.</p>
        </ng-template>


        <!--Checkout Form-->
        <form [formGroup]="checkoutForm" class="form" id="checkoutForm" (ngSubmit)="validateForm()">
          <div class="card border-primary p-5 m-4">
            <h3>Make an order</h3>
            <h6>Billing & Shipping</h6>
            <div class="row">
              <div class="col-6 mt-3">
                <label for="name" class="form-label">Name:</label>
                <input id="name" formControlName="name" class="form-control ml-3" type="text" placeholder="Name" />
                <div *ngIf="nameControl?.invalid && (nameControl?.dirty || nameControl?.touched)" class="invalid-feedback d-block">
                  <div *ngIf="nameControl?.errors?.['required']">This field is required.</div>
                  <div *ngIf="nameControl?.errors?.['minlength']">This field must have at least 3 characters.</div>
                </div>
              </div>
              <div class="col-6 mt-3">
                <label for="email" class="form-label">Email:</label>
                <input id="email" formControlName="email" class="form-control ml-3" type="email" placeholder="Email" />
                <div *ngIf="emailControl?.invalid && (emailControl?.dirty || emailControl?.touched)" class="invalid-feedback d-block">
                  <div *ngIf="emailControl?.errors?.['required']">This field is required.</div>
                  <div *ngIf="emailControl?.errors?.['email']">This field must contain a valid email address.</div>
                  <div *ngIf="emailControl?.errors?.['minlength']">This field must have at least 3 characters.</div>
                </div>
              </div>
              <div class="col-6 mt-3">
                <label for="address" class="form-label">Address:</label>
                <input id="address" formControlName="address" class="form-control" type="text" placeholder="Address" />
                <div *ngIf="addressControl?.invalid && (addressControl?.dirty || addressControl?.touched)" class="invalid-feedback d-block">
                  <div *ngIf="addressControl?.errors?.['required']">This field is required.</div>
                  <div *ngIf="addressControl?.errors?.['minlength']">This field must have at least 3 characters.</div>
                </div>
              </div>
              <div class="col-6 mt-3">
                <label for="postcode" class="form-label">Postcode / ZIP:</label>
                <input id="postcode" formControlName="postcode" class="form-control" type="text" placeholder="Postcode / ZIP" />
                <div *ngIf="postcodeControl?.invalid && (postcodeControl?.dirty || postcodeControl?.touched)" class="invalid-feedback d-block">
                  <div *ngIf="postcodeControl?.errors?.['required']">This field is required.</div>
                  <div *ngIf="postcodeControl?.errors?.['minlength']">This field must have at least 3 characters.</div>
                </div>
              </div>
              <div class="col-6 mt-3">
                <label for="country" class="form-label">Country:</label>
                <input id="country" formControlName="country" class="form-control" type="text" placeholder="Country" />
                <div *ngIf="countryControl?.invalid && (countryControl?.dirty || countryControl?.touched)" class="invalid-feedback d-block">
                  <div *ngIf="countryControl?.errors?.['required']">This field is required.</div>
                  <div *ngIf="countryControl?.errors?.['minlength']">This field must have at least 3 characters.</div>
                </div>
              </div>
              <div class="col-6 mt-3">
                <label for="phone" class="form-label">Phone Number:</label>
                <input id="phone" formControlName="phone" class="form-control" type="tel" placeholder="Phone No." />
                <div *ngIf="phoneControl?.invalid && (phoneControl?.dirty || phoneControl?.touched)" class="invalid-feedback d-block">
                  <div *ngIf="phoneControl?.errors?.['required']">This field is required.</div>
                  <div *ngIf="phoneControl?.errors?.['pattern']">Invalid phone number! Must be 9 digits with no letters.</div>
                </div>
              </div>
            </div>
            <div class="col-12 mt-4 final">
              <div class="form-check form-switch mb-4">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked="">
                <label class="form-check-label" for="flexSwitchCheckChecked">Create an account?</label>
              </div>
              <button type="submit" class="p-2 px-4 btn btn-primary shadow-lg" [disabled]="checkoutForm.invalid">
                <i class="fas fa-cart-arrow-down p-2"></i>Save
              </button>
            </div>
          </div>
        </form>
        
        

<!--Footer Banner-->
  <div class="row mr-0">
    <div class="col-sm-6">
      <h4 class="my-3 bord shadow text-center"><i class="fas fa-dollar-sign p-2"></i>Cash on Delivery</h4>
    </div>
    <div class="col-sm-6 ">
      <h4 class="my-3 bord shadow text-center"><i class="fas fa-arrows-alt-h p-2"></i>100% Return</h4>
    </div>
  </div>

  <div class="row mr-0 mb-5">
    <div class="col-sm-6">
      <h4 class="my-3 bord shadow text-center"><i class="far fa-thumbs-up p-2"></i>Quality Assured</h4>
    </div>
    <div class="col-sm-6 ">
      <h4 class="my-3 bord shadow text-center"><i class="fas fa-stopwatch p-2"></i>Delivery on time</h4>
    </div>
  </div>

</div>
