<div class="container">
  <h1 class="text-center head m-4">Checkout Page</h1>

  <!-- Checkout table -->
  <div class="col-12 col-xxl-8 offset-xxl-2">
    <div class="m-4">
      <h3>Hi! {{ currentUser ? currentUser.displayName : '' }}</h3>
      <h4 class="">You have {{cartCount}} items in your cart</h4>
      <table *ngIf="cart.length > 0; else emptyCart" class="table table-hover fs-5">
        <thead>
          <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of cart">
            <td>{{ product.name }}</td>
            <td>{{ product.price | number:'1.2-2' }} €</td>
            <td>
              <button (click)="buyProduct(product.id)" class="badge rounded-pill bg-secondary border-0 align-text-top">
                <i class="bi bi-plus"></i>
              </button>
              {{ product.quantity }}
              <button (click)="removeFromCart(product.id)" class="badge rounded-pill bg-secondary border-0 align-text-top">
                <i class="bi bi-dash"></i>
              </button>
            </td>
            <td>
              {{ (product.price * product.quantity * (1 - (product.discountPercent || 0) / 100)) | number:'1.2-2' }} €
              <span *ngIf="(product.discountPercent || (product.offer?.percent && product.quantity >= (product.offer?.number ?? 0)))" class="badge rounded-pill bg-success ms-2 align-text-top">
                Discount {{ product.discountPercent }}%
              </span>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3">Cart Totals:</td>
            <td>
              <h6 [ngClass]="{'text-decoration-line-through': hasDiscount}">Subtotal: {{ total | number:'1.2-2' }} €</h6>
              <h6 *ngIf="hasDiscount">With discount: {{ subtotal | number:'1.2-2' }} €</h6>
              <h6>Shipping: {{ SHIPPING_COST | number:'1.2-2' }} €</h6>
              <h3 class="mb-0"><b>Total: {{ subtotal + SHIPPING_COST | number:'1.2-2' }} €</b></h3>
              <h6>(Includes +21% Vat)</h6>
            </td>
          </tr>
          <button (click)="cleanCart()" class="btn btn-outline-danger mt-3 ms-2">Clean Cart</button>
        </tfoot>
      </table>
      <ng-template #emptyCart>
        <p class="mt-4 text-center">Your cart is empty.</p>
      </ng-template>
    </div>

    <!-- PayPal Button Container -->
    <div *ngIf="cart.length > 0;" class="card border-primary bg-custom p-5 m-4">
      <h2 class="text-center">Make an order</h2>
      <h5>Billing & Shipping</h5>
    <div id="paypal-button-container" class="mt-3"></div>
    </div>

  <!-- Footer Banner -->
  <div class="m-5">
    <div class="row mr-0">
      <div class="col-sm-6">
        <h4 class="my-3 bord shadow text-center"><i class="fas fa-dollar-sign p-2"></i>Cash on Delivery</h4>
      </div>
      <div class="col-sm-6 ">
        <h4 class="my-3 bord shadow text-center"><i class="fas fa-arrows-alt-h p-2"></i>100% Return</h4>
      </div>
    </div>
    <div class="row mr-0 mb-5">
      <div class="col-sm-6">
        <h4 class="my-3 bord shadow text-center"><i class="far fa-thumbs-up p-2"></i>Quality Assured</h4>
      </div>
      <div class="col-sm-6 ">
        <h4 class="my-3 bord shadow text-center"><i class="fas fa-stopwatch p-2"></i>Delivery on time</h4>
      </div>
    </div>
  </div>
</div>

<script src="https://www.paypal.com/sdk/js?client-id=AUH3SbAg97zV5oIYqtkwAEmJ9nE6cPubv688rxDO56F6tiFToiALjDLIFBWjHu9-4m3PFcykXyNKCFNk&currency=EUR"></script>

<script>
  paypal.Buttons({
    createOrder: function(data, actions) {
      return actions.order.create({
        purchase_units: [{
          amount: {
            value: "{{ subtotal + SHIPPING_COST | number:'1.2-2' }}"
          }
        }]
      });
    },
    onApprove: function(data, actions) {
      return actions.order.capture().then(function(details) {
        // Call your server to save the transaction
        fetch('/your-server-endpoint', {
          method: 'post',
          headers: {
            'content-type': 'application/json'
          },
          body: JSON.stringify({
            orderID: data.orderID,
            payer: details.payer,
            purchase_units: details.purchase_units,
            cart: "{{ cart | json }}",
            formData: {
              name: details.payer.name.given_name + ' ' + details.payer.name.surname,
              email: details.payer.email_address,
              address: details.purchase_units[0].shipping.address.address_line_1,
              postcode: details.purchase_units[0].shipping.address.postal_code,
              country: details.purchase_units[0].shipping.address.country_code,
              phone: details.payer.phone.phone_number.national_number
            }
          })
        }).then(function(response) {
          // Redirect to the order confirmation page
          window.location.href = '/order-confirmation';
        });
      });
    }
  }).render('#paypal-button-container');
</script>
