.brand-logo {
    max-width: 65%;
}

.bcr-header {
    background-image: url(../../../public/assets/images/barcelona-city-records-banner-inicio.jpg);
    background-size: cover;
    background-position-y: center;
    text-shadow: 2px 2px 5px black;
}