<!-- Footer-->
<footer class="pt-4 pb-1 bg-dark">

	<div class="mx-4 text-center">
		<h5><i class="bi bi-telephone me-1"></i> Phone: 666 118 347 | <i class="bi bi-envelope-at mx-1"></i>
			barcelonacityrecords&#64;gmail.com</h5>

		<h5><i class="bi bi-geo-alt"></i> Carrer Jerusalem 32, 08001, Barcelona, España.</h5>

		<h6>Aviso legal | Política de privacidad | Política de cookies</h6>
	</div>

	<div class="container">
		<p class="mt-4 text-center foot-text">© 2024 BARCELONA CITY RECORDS. All rights reserved</p>
	</div>
</footer>