<!-- Footer-->
<footer class="pt-4 pb-1 bg-dark">

	<div class="mx-4 text-center">
		<h5><i class="bi bi-telephone me-1"></i> Phone: 666 118 347 | <i class="bi bi-envelope-at mx-1"></i>
			barcelonacityrecords&#64;gmail.com</h5>

		<h5><i class="bi bi-geo-alt"></i> Carrer Jerusalem 32, 08001, Barcelona, España.</h5>

		<div class="mt-3">
			<h3>
				<a href="https://api.whatsapp.com/send?phone=34666118347" target="_blank"><i
						class="bi bi-whatsapp me-2"></i></a>
				<a href="https://www.facebook.com/barcelonacityrecords" target="_blank"><i
						class="bi bi-facebook me-2"></i></a>
				<a href="https://www.instagram.com/barcelonacityrecords/" target="_blank"><i
						class="bi bi-instagram"></i></a>
			</h3>
		</div>
		<h6 class="mt-4"><a href="">Aviso legal</a> | <a href="">Política de privacidad</a> | <a href="">Política de cookies</a></h6>
	</div>

	<div class="container">
		<p class="mt-2 text-center foot-text">© 2024 BARCELONA CITY RECORDS. All rights reserved</p>
	</div>
</footer>