<!-- Modal for Cart -->
<div class="modal fade" id="cartModal" tabindex="-1" aria-labelledby="cartModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="cartModalLabel"><i class="fas fa-cart-arrow-down"></i> My Cart</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<h3 class="text-center bill pb-3">Shopping Cart</h3>
				<div>
					<table *ngIf="cart.length > 0; else emptyCart" class="table">
						<thead>
							<tr>
								<th>Name</th>
								<th>Price</th>
								<th>Quantity</th>
								<th>Total</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let product of cart">
								<td>{{ product.name }}</td>
								<td>{{ product.price }}</td>

								<td>
									<button (click)="buyProduct(product.id)" class="btn btn-sm btn-secondary"><i
											class="bi bi-plus"></i></button>
									{{ product.quantity }}
									<button (click)="removeFromCart(product.id)" class="btn btn-sm btn-secondary"><i
											class="bi bi-dash"></i></button>
								</td>

								<td>{{ (product.price * product.quantity * (1 - (product.discountPercent || 0) / 100)) |
									currency }}</td>

							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="3">Total:</td>
								<td> {{ total | currency }}</td>

							</tr>
						</tfoot>
					</table>
					<div class="d-flex justify-content-between">
						<button (click)="cleanCart()" class="btn btn-danger">Clean Cart</button>
						<a href="/checkout"><button class="btn btn-success">Checkout</button></a>
					</div>
					<ng-template #emptyCart>
						<p class="mt-4 text-center">Your cart is empty.</p>
					</ng-template>
				</div>
			</div>
		</div>
	</div>
</div>